@model IEnumerable<WebApplication4.Models.Employee>

@{
    ViewData["Title"] = "EmployeeList";
}

@foreach (var item in Model) {
       <ul style="list-style-type:square">
            <li>
                 <a asp-action="Details" asp-route-id="@item.EmployeeId">@Html.DisplayFor(modelItem => item.Name)</a>
            </li>
            <li>
                @Html.ActionLink(item.Name, "Details", new { id = item.EmployeeId })
            </li>
    </ul>
}